{% extends 'geo/home.html' %}
{% load static %}

{% block search %}
<section id="form_search">
    <div class="container_form">
        <div class="box_wallpaper">
            <img src="{% static 'img/bgc_1.jpg' %}" alt="">
        </div>
        <div class="box_wallpaper_before">
            <div class="formulario">
                <form  id="form_end" method="POST" action="{% url 'geo:geobrain' %}" enctype="multipart/form-data">
                  {% csrf_token %} 
                  <div class="input_box w100">
                    <label for="nome">Nome </label>
                    <input type="text" id="nome">
                  </div>
                  <div class="container_input">
                    <div class="input_box w50">
                        <label for="municipio">Municipio </label>
                        <input type="text" id="municipio">
                    </div>
                    <div class="input_box w50">
                      <label for="codigo">Codigo </label>
                      <input type="text" id="codigo">
                    </div>
                  </div>
                  <div class="container_input">
                    <div class="input_box w50">
                      <label for="long">Longitude</label>
                      <input type="text" id="long">
                    </div>
                    <div class="input_box w50">
                       <label for="lat">Latitude </label>
                      <input type="text" id="lat">
                    </div>
                  </div>
                  <div class="custom-file" id="customFile" lang="es">
                    <input type="file" class="custom-file-input" id="exampleInputFile" name="file" aria-describedby="fileHelp">
                    <label class="custom-file-label" for="exampleInputFile">
                       Petição Incial
                    </label>
                  </div>
                  <div class="submit">
                    <input type="submit" value=" Enviar">
                  </div>
                </form>
            
            </div>
        </div>
    </div>
</section>
 {% endblock %}

 {% block section %}
 {% endblock %}