{% extends 'geo/home.html' %}
{% load static %}


{% block search %}
<section id="form_search">
  <div class="container_form">
      <div class="box_wallpaper">
          <img src="{% static 'img/bgc_1.jpg' %}" alt="">
      </div>
      <div class="box_wallpaper_before">
      </div>
  </div>
</section>
{% endblock %}


 {% block section  %}
 <section id="tabela_assuntos">
  <div class="container">
    <div class="row">
       <div  class="col-xl-12">
            {{mapa | safe }}  
      </div>
      <!-- <div  class="col-xl-5 border">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Nome Propriedade</label>
            <input type="text" class="form-control" id="endereco_id" placeholder="Propriedade">
            <small id="emailHelp" class="form-text text-muted">Entre com o nome da Propriedade</small>
          </div>
          <div class="form-group" >
            <label for="exampleInputPassword1">latitude</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="latitude">
            <label for="exampleInputPassword1">longitude</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="latitude">
          </div>
          <button type="submit" class="btn btn-primary" style="margin: auto; padding-bottom: 5px;">enviar</button>
        </form>
     </div> -->
   </div>
  </div>
</section>
{% endblock %}